In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'id' : [1,1,1,2,2,3,3,3,3,4,4,5,6,6,6,7,7],
                'value'  : ["first","second","second","first",
                            "second","first","third","fourth",
                            "fifth","second","fifth","first",
                            "first","second","third","fourth","fifth"]})

In [7]:
df=df.groupby(['id']).first()

In [8]:
df

     value
id
1    first
2    first
3    first
4   second
5    first
6    first
7   fourth