In [1]:
import yfinance as yf

In [47]:
ticker = yf.Ticker('ZOMATO.NS')

In [48]:
ticker.get_info()

{'zip': '122009',
 'sector': 'Consumer Cyclical',
 'fullTimeEmployees': 3755,
 'longBusinessSummary': 'Zomato Limited operates as an online food delivery company in India and internationally. Its technology platform connects customers, restaurant partners, and delivery partners. The company also operates Hyperpure, a procurement solution that supplies ingredients and kitchen products to restaurant partners. It offers restaurant search and discovery, online order, pick up, and table reservations services. Zomato Limited was founded in 2008 and is headquartered in Gurugram, India.',
 'city': 'Gurugram',
 'phone': '91 12 4426 8565',
 'country': 'India',
 'companyOfficers': [],
 'website': 'https://www.zomato.com',
 'maxAge': 1,
 'address1': 'Ground Floor, Tower C',
 'industry': 'Internet Retail',
 'address2': 'Vipul Tech Square Sector 43 Golf Course Road',
 'ebitdaMargins': -0.43416,
 'profitMargins': -0.26674998,
 'grossMargins': 0.49857,
 'operatingCashflow': None,
 'revenueGrowth': 0.825,
 'operatingMargins': -0.46304,
 'ebitda': -15946980352,
 'targetLowPrice': 75,
 'recommendationKey': 'buy',
 'grossProfits': 10482850000,
 'freeCashflow': None,
 'targetMedianPrice': 130,
 'currentPrice': 85.9,
 'earningsGrowth': None,
 'currentRatio': None,
 'returnOnAssets': None,
 'numberOfAnalystOpinions': 19,
 'targetMeanPrice': 137,
 'debtToEquity': 0.691,
 'returnOnEquity': None,
 'targetHighPrice': 220,
 'totalCash': 74959003648,
 'totalDebt': 1139000064,
 'totalRevenue': 36730888192,
 'totalCashPerShare': 9.488,
 'financialCurrency': 'INR',
 'revenuePerShare': 5.358,
 'quickRatio': None,
 'recommendationMean': 1.9,
 'exchange': 'NSI',
 'shortName': 'Zomato Limited',
 'longName': 'Zomato Limited',
 'exchangeTimezoneName': 'Asia/Kolkata',
 'exchangeTimezoneShortName': 'IST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '19800000',
 'quoteType': 'EQUITY',
 'symbol': 'ZOMATO.NS',
 'messageBoardId': 'finmb_112318630',
 'market': 'in_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 17.16,
 'beta3Year': None,
 'enterpriseToEbitda': -39.526,
 '52WeekChange': -0.32579362,
 'morningStarRiskRating': None,
 'forwardEps': -1.05,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7871929856,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 22.653,
 'sharesShort': None,
 'sharesPercentSharesOut': None,
 'fundFamily': None,
 'lastFiscalYearEnd': 1617148800,
 'heldPercentInstitutions': 0.13491,
 'netIncomeToCommon': -9798160384,
 'trailingEps': -1.429,
 'lastDividendValue': None,
 'SandP52WeekChange': 0.14546764,
 'priceToBook': 3.7919924,
 'heldPercentInsiders': 0.73867,
 'nextFiscalYearEnd': 1680220800,
 'yield': None,
 'mostRecentQuarter': 1640908800,
 'shortRatio': None,
 'sharesShortPreviousMonthDate': None,
 'floatShares': 2452476000,
 'beta': None,
 'enterpriseValue': 630312992768,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': None,
 'lastSplitFactor': None,
 'legalType': None,
 'lastDividendDate': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': None,
 'priceToSalesTrailing12Months': 18.409542,
 'dateShortInterest': None,
 'pegRatio': -2.82,
 'ytdReturn': None,
 'forwardPE': -81.80953,
 'lastCapGain': None,
 'shortPercentOfFloat': None,
 'sharesShortPriorMonth': None,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 89.15,
 'regularMarketOpen': 88.1,
 'twoHundredDayAverage': 132.14497,
 'trailingAnnualDividendYield': 0,
 'payoutRatio': 0,
 'volume24Hr': None,
 'regularMarketDayHigh': 88.4,
 'navPrice': None,
 'averageDailyVolume10Day': 28053312,
 'regularMarketPreviousClose': 89.15,
 'fiftyDayAverage': 119.004,
 'trailingAnnualDividendRate': 0,
 'open': 88.1,
 'toCurrency': None,
 'averageVolume10days': 28053312,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 85.2,
 'currency': 'INR',
 'regularMarketVolume': 15033859,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 676198809600,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 36109347,
 'dayLow': 85.2,
 'ask': 0,
 'askSize': None,
 'volume': 15033859,
 'fiftyTwoWeekHigh': 169,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 75.75,
 'bid': 0,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': None,
 'dayHigh': 88.4,
 'regularMarketPrice': 85.9,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/zomato.com'}

In [49]:
ticker.history(period='max')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-07-23,116.000000,138.899994,115.000000,126.000000,694895290,0,0
2021-07-26,126.349998,143.750000,125.300003,140.649994,249723854,0,0
2021-07-27,141.699997,147.800003,127.750000,132.899994,240341900,0,0
2021-07-28,131.000000,135.000000,123.550003,131.199997,159793731,0,0
2021-07-29,134.949997,144.000000,132.199997,141.550003,117973089,0,0
...,...,...,...,...,...,...,...
2022-02-14,87.000000,87.000000,80.550003,82.449997,35049550,0,0
2022-02-15,83.500000,84.650002,75.750000,82.699997,106216252,0,0
2022-02-16,85.000000,87.000000,84.250000,84.949997,33106605,0,0
2022-02-17,86.500000,90.099998,85.900002,89.150002,29566401,0,0
2022-02-18,88.099998,88.400002,85.199997,85.900002,15033859,0,0

In [50]:
ticker.dividends

Series([], Name: Dividends, dtype: int64)

In [51]:
ticker.splits

Series([], Name: Stock Splits, dtype: int64)

In [52]:
ticker.financials

,2021-03-31,2020-03-31,2019-03-31,2018-03-31
Research Development,None,None,None,None
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,-8151240000.0,-23856010000.0,-10105140000.0,-1069160000.0
Minority Interest,-57090000.0,-65000000.0,-314170000.0,84330000.0
Net Income,-8128160000.0,-23671580000.0,-9652280000.0,-1036770000.0
Selling General Administrative,5823910000.0,13771490000.0,12632380000.0,944060000.0
Gross Profit,10482850000.0,16817980000.0,6855920000.0,1696700000.0
Ebit,-6041010000.0,-23887330000.0,-22868190000.0,-1198350000.0
Operating Income,-6041010000.0,-23887330000.0,-22868190000.0,-1198350000.0
Other Operating Expenses,9234090000.0,25966510000.0,16630870000.0,1641210000.0
Interest Expense,-86370000.0,-110240000.0,-70220000.0,-52780000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,13040000.0,0.0,0.0,0.0
Total Revenue,19937890000.0,26047370000.0,13125860000.0,4660230000.0
Total Operating Expenses,25978900000.0,49934700000.0,35994050000.0,5858580000.0
Cost Of Revenue,9455040000.0,9229390000.0,6269940000.0,2963530000.0
Total Other Income Expense Net,-2110230000.0,31320000.0,12763050000.0,129190000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,-8164280000.0,-23856010000.0,-10105140000.0,-1069160000.0
Net Income Applicable To Common Shares,-8128160000.0,-23671580000.0,-9652280000.0,-1036770000.0

In [53]:
ticker.major_holders

        0                                      1
0  73.87%        % of Shares Held by All Insider
1  13.49%       % of Shares Held by Institutions
2  51.62%        % of Float Held by Institutions
3     119  Number of Institutions Holding Shares

In [67]:
ticker.institutional_holders

In [55]:
ticker.balance_sheet

,2021-03-31,2020-03-31,2019-03-31,2018-03-31
Intangible Assets,2.075470e+09,2.787910e+09,6.935400e+08,6.075400e+08
Capital Surplus,1.285627e+11,4.816332e+10,4.435170e+10,2.242293e+10
Total Liab,6.105350e+09,2.197101e+10,8.449250e+09,1.555970e+09
Total Stockholder Equity,7.643786e+10,4.573810e+09,2.356177e+10,1.036089e+10
Minority Interest,-5.709000e+07,-6.500000e+07,-3.141700e+08,8.433000e+07
Other Current Liab,1.790760e+09,4.183650e+09,2.908970e+09,4.564100e+08
Total Assets,8.703543e+10,2.900382e+10,3.413405e+10,1.374494e+10
Common Stock,3.500000e+05,3.400000e+05,3.400000e+05,3.000000e+05
Other Current Assets,2.513010e+09,3.403260e+09,1.219040e+09,1.894800e+08
Retained Earnings,-5.600306e+10,-4.666352e+10,-2.262481e+10,-1.292151e+10
Other Liab,3.980800e+08,4.243900e+08,6.323400e+08,7.172000e+07
Good Will,1.247784e+10,1.209285e+10,1.884850e+09,1.061180e+09
Treasury Stock,3.877880e+09,3.073670e+09,1.834540e+09,8.591700e+08
Other Assets,3.013823e+10,4.552500e+08,4.392500e+08,6.390500e+08
Cash,3.065460e+09,1.672000e+09,2.124150e+09,1.003950e+09
Total Current Liabilities,5.177410e+09,7.208330e+09,7.061180e+09,1.365800e+09
Short Long Term Debt,1.361000e+07,NaN,NaN,NaN
Other Stockholder Equity,3.877920e+09,3.073710e+09,1.834580e+09,8.591700e+08
Property Plant Equipment,8.384700e+08,1.034240e+09,1.325030e+09,2.421000e+08
Total Current Assets,4.150542e+10,1.263357e+10,2.971840e+10,1.109941e+10
Net Tangible Assets,6.188455e+10,-1.030695e+10,2.098338e+10,8.692170e+09
Short Term Investments,1.193587e+10,1.927130e+09,3.204200e+08,1.078310e+09
Net Receivables,1.550180e+09,2.251130e+09,4.552570e+09,5.972000e+08
Inventory,1.479700e+08,3.727000e+07,2.131000e+07,NaN
Accounts Payable,2.971630e+09,2.687340e+09,3.762180e+09,6.735400e+08
Long Term Debt,NaN,1.377405e+10,1.314000e+07,1.325000e+07
Long Term Investments,NaN,NaN,7.298000e+07,9.566000e+07

In [56]:
ticker.quarterly_balance_sheet

,2021-12-31,2021-09-30,2021-06-30,2021-03-31
Total Stockholder Equity,1.649410e+11,1.649410e+11,7.643786e+10,7.643786e+10
Net Tangible Assets,1.509320e+11,1.509320e+11,6.188455e+10,6.188455e+10
Intangible Assets,NaN,1.531000e+09,NaN,2.075470e+09
Total Liab,NaN,8.358000e+09,NaN,6.105350e+09
Minority Interest,NaN,-1.520000e+08,NaN,-5.709000e+07
Other Current Liab,NaN,1.655000e+09,NaN,1.790760e+09
Total Assets,NaN,1.731470e+11,NaN,8.703543e+10
Common Stock,NaN,7.565000e+09,NaN,3.500000e+05
Other Current Assets,NaN,1.978000e+09,NaN,2.513010e+09
Other Liab,NaN,6.350000e+08,NaN,3.980800e+08
Good Will,NaN,1.247800e+10,NaN,1.247784e+10
Treasury Stock,NaN,1.573760e+11,NaN,3.877880e+09
Other Assets,NaN,7.175000e+10,NaN,3.013823e+10
Cash,NaN,3.796600e+10,NaN,3.065460e+09
Total Current Liabilities,NaN,6.808000e+09,NaN,5.177410e+09
Short Long Term Debt,NaN,5.000000e+06,NaN,1.361000e+07
Other Stockholder Equity,NaN,1.573760e+11,NaN,3.877920e+09
Property Plant Equipment,NaN,1.429000e+09,NaN,8.384700e+08
Total Current Assets,NaN,7.854700e+10,NaN,4.150542e+10
Long Term Investments,NaN,7.412000e+09,NaN,NaN
Short Term Investments,NaN,3.699300e+10,NaN,1.193587e+10
Net Receivables,NaN,1.422000e+09,NaN,1.550180e+09
Inventory,NaN,1.880000e+08,NaN,1.479700e+08
Accounts Payable,NaN,4.802000e+09,NaN,2.971630e+09
Capital Surplus,NaN,NaN,NaN,1.285627e+11
Retained Earnings,NaN,NaN,NaN,-5.600306e+10

In [57]:
ticker.cashflow

,2021-03-31,2020-03-31,2019-03-31,2018-03-31
Investments,-5.223730e+10,1.731433e+10,-1.206678e+10,-8.237750e+09
Change To Liabilities,3.624100e+08,-1.031800e+09,3.120390e+09,2.721500e+08
Total Cashflows From Investing Activities,-5.243619e+10,1.735218e+10,-1.274251e+10,-8.206210e+09
Net Borrowings,-1.664900e+08,-1.992200e+08,-1.274500e+08,-2.240000e+08
Total Cash From Financing Activities,6.401897e+10,3.589110e+09,3.130549e+10,9.413110e+09
Change To Operating Activities,-7.624020e+09,2.136730e+09,-6.722700e+08,-8.715000e+07
Net Income,-8.128160e+09,-2.367158e+10,-9.652280e+09,-1.036770e+09
Change In Cash,1.393460e+09,-4.521500e+08,1.120200e+09,5.263300e+08
Effect Of Exchange Rate,-1.662000e+07,4.288000e+07,-1.329000e+07,1.284000e+07
Total Cash From Operating Activities,-1.017931e+10,-2.143632e+10,-1.742949e+10,-6.934100e+08
Depreciation,1.238870e+09,7.134800e+08,3.062700e+08,2.656600e+08
Other Cashflows From Investing Activities,1.090800e+08,2.516500e+08,1.490200e+08,9.843000e+07
Change To Inventory,-1.107000e+08,-1.596000e+07,-2.131000e+07,-2.131000e+07
Change To Account Receivables,-1.946300e+08,-9.356800e+08,-5.475300e+08,-1.089800e+08
Other Cashflows From Financing Activities,-1.897640e+09,-1.277700e+08,8.788080e+09,-6.248000e+07
Change To Netincome,4.138350e+09,1.239610e+09,-1.008788e+10,-2.413000e+07
Capital Expenditures,-4.804000e+07,-2.134600e+08,-4.510400e+08,-5.324000e+07

In [58]:
ticker.quarterly_cashflow

,2021-12-31,2021-09-30,2021-06-30,2021-03-31
Net Income,-632000000.0,-4.296000e+09,-3.562000e+09,-1.308210e+09
Change To Liabilities,0.0,0.000000e+00,0.000000e+00,-2.071300e+08
Investments,NaN,NaN,NaN,-9.938990e+09
Total Cashflows From Investing Activities,NaN,NaN,NaN,-1.021407e+10
Net Borrowings,NaN,NaN,NaN,-6.776000e+07
Total Cash From Financing Activities,NaN,NaN,NaN,1.827627e+10
Change To Operating Activities,NaN,NaN,NaN,-6.276360e+09
Change In Cash,NaN,NaN,NaN,5.829800e+08
Repurchase Of Stock,NaN,NaN,NaN,-1.841560e+09
Effect Of Exchange Rate,NaN,NaN,NaN,-3.500000e+05
Total Cash From Operating Activities,NaN,NaN,NaN,-7.485480e+09
Depreciation,NaN,NaN,NaN,3.022200e+08
Other Cashflows From Investing Activities,NaN,NaN,NaN,9.030000e+06
Change To Inventory,NaN,NaN,NaN,-3.283000e+07
Change To Account Receivables,NaN,NaN,NaN,1.408500e+08
Other Cashflows From Financing Activities,NaN,NaN,NaN,-8.885000e+07
Change To Netincome,NaN,NaN,NaN,-1.473700e+08
Capital Expenditures,NaN,NaN,NaN,-2.198000e+07

In [59]:
ticker.earnings

          Revenue     Earnings
Year
2018   4660230000  -1036770000
2019  13125860000  -9652280000
2020  26047370000 -23671580000
2021  19937890000  -8128160000

In [60]:
ticker.quarterly_earnings

             Revenue    Earnings
Quarter
1Q2021    6924400000 -1308210000
2Q2021    8444000000 -3562000000
3Q2021   10242000000 -4296000000
4Q2021   11120000000  -632000000

In [61]:
ticker.sustainability

In [62]:
ticker.recommendations

In [63]:
ticker.calendar

Empty DataFrame
Columns: []
Index: [Earnings Date, Earnings Average, Earnings Low, Earnings High, Revenue Average, Revenue Low, Revenue High]

In [64]:
ticker.options

()

In [65]:
ticker.news

[{'uuid': '23f0c63e-006e-3386-a9f4-3dbef00354cd',
  'title': 'Global Automotive Cockpit SoC Industry, Technology & Application Report 2022: Focus on the Chinese Market - ResearchAndMarkets.com',
  'publisher': 'Business Wire',
  'link': 'https://finance.yahoo.com/news/global-automotive-cockpit-soc-industry-110600344.html',
  'providerPublishTime': 1645182360,
  'type': 'STORY'},
 {'uuid': '0587a17a-bc3f-33fc-b3a1-d8fb4a4a02ef',
  'title': 'Bitcoin Falls Below $41,000 as Wall Street in ‘Full De-Risking Mode’',
  'publisher': 'Barrons.com',
  'link': 'https://finance.yahoo.com/m/0587a17a-bc3f-33fc-b3a1-d8fb4a4a02ef/bitcoin-falls-below-%2441%2C000.html',
  'providerPublishTime': 1645182180,
  'type': 'STORY'},
 {'uuid': '0bbe7245-c45e-378f-a500-4b5a51a540ab',
  'title': 'DuPont Announces Agreement to Divest Majority of Mobility & Materials Segment to Celanese',
  'publisher': 'PR Newswire',
  'link': 'https://finance.yahoo.com/news/dupont-announces-agreement-divest-majority-110300746.html',
  'providerPublishTime': 1645182180,
  'type': 'STORY'},
 {'uuid': '5c3337f6-7d66-349a-bf9c-992923ebd6d0',
  'title': 'Ameren Missouri customers getting stronger, smarter, cleaner and more resilient energy grid, thanks to Smart Energy Plan',
  'publisher': 'PR Newswire',
  'link': 'https://finance.yahoo.com/news/ameren-missouri-customers-getting-stronger-110300932.html',
  'providerPublishTime': 1645182180,
  'type': 'STORY'},
 {'uuid': '6e914c91-f873-3902-855d-75b8466424ef',
  'title': 'United Arab Emirates Used Car Market Report 2022',
  'publisher': 'GlobeNewswire',
  'link': 'https://finance.yahoo.com/news/united-arab-emirates-used-car-110300071.html',
  'providerPublishTime': 1645182180,
  'type': 'STORY'},
 {'uuid': 'dd46757d-67c0-3057-8ddb-a913685a647f',
  'title': 'U.N. pact may restrict plastic production. Big Oil aims to stop it',
  'publisher': 'Reuters',
  'link': 'https://finance.yahoo.com/news/u-n-pact-may-restrict-110259380.html',
  'providerPublishTime': 1645182179,
  'type': 'STORY'},
 {'uuid': 'c289873d-b63e-32c1-9fa8-4b5e79b4de84',
  'title': 'Form 8.3 - Clinigen Group PLC',
  'publisher': 'GlobeNewswire',
  'link': 'https://finance.yahoo.com/news/form-8-3-clinigen-group-110200123.html',
  'providerPublishTime': 1645182120,
  'type': 'STORY'},
 {'uuid': '243bc98a-1bb9-3c94-acea-189206633319',
  'title': 'Transdermal Skin Patches Market - Growth, Trends, COVID-19 Impact, and Forecast (2022 - 2027)',
  'publisher': 'GlobeNewswire',
  'link': 'https://finance.yahoo.com/news/transdermal-skin-patches-market-growth-110100585.html',
  'providerPublishTime': 1645182060,
  'type': 'STORY'}]

In [66]:
ticker.shares

      BasicShares
Year
2019   7845179676
2020   7845179676
2021   7845179676